<div class="formularioAgregarTrabajador">
    <form [formGroup]="trabajadorForm" (submit)="guardar(trabajadorForm.value)"   action="/action_page.php">

        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Cedula</label>
            <input type="number" class="form-control" id="cedula" placeholder="10065489" formControlName="cedula">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Nombre de trabajador</label>
            <input type="text" class="form-control" id="NombreTrabjador" placeholder="Juan" name="pswd" formControlName="nombreTrabajador">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Dias laborados</label>
            <input type="number" class="form-control" id="diasLaborados" placeholder="250" name="pswd" formControlName="diasLaborados">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Auxilio de transporte</label>
            <input type="number" class="form-control" id="auxilioTransporte" placeholder="250000" name="pswd" formControlName="auxilioTransporte">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Sueldo del trabajador</label>
            <input type="number" class="form-control" id="sueldoTrabajador" placeholder="1500000" name="pswd" formControlName="sueldoTrabajador">
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="trabajadorForm.invalid">Enviar</button>
    </form>
</div>


<div class="container mt-3">
    <h2 id="tituloTrabajadores">Listado de trabajadores</h2>
    <table class="table">
        <thead class="table-success">
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Dias laborados</th>
                <th>sueldoTrabajador</th>
                <th>Auxilio de tranporte</th>
                <th>cesantias</th>
                <th>interesCesantia</th>
                <th>prima</th>
                <th>vacaciones</th>
                <th>liquidacion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of listTrabjadores" [style.background-color]="i.cedula === tertrabaja.cedula ? '#c0c0c0' : 'transparent'">
                <td>{{i.cedula}}</td>
                <td>{{i.nombreTrabajador}}</td>
                <td>{{i.diasLaborados}}</td>
                <td>{{i.sueldoTrabajador}}</td>
                <td>{{i.auxilioTransporte}}</td>
                <td>{{i.cesantias}}</td>
                <td>{{i.interesCesantia}}</td>
                <td>{{i.prima}}</td>
                <td>{{i.vacaiones}}</td>
                <td>{{i.liquidacion}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!--<div class="container mt-3" id="tercerTrabajador">
    <h2 id="tituloTercerTrabajador">Trabajador con la tercer mejor prima</h2>
    <table class="table">
        <thead class="table-success">
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Dias laborados</th>
                <th>sueldoTrabajador</th>
                <th>Auxilio de tranporte</th>
                <th>cesantias</th>
                <th>interesCesantia</th>
                <th>prima</th>
                <th>vacaciones</th>
                <th>liquidacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{tertrabaja.cedula}}</td>
                <td>{{tertrabaja.nombreTrabajador}}</td>
                <td>{{tertrabaja.diasLaborados}}</td>
                <td>{{tertrabaja.sueldoTrabajador}}</td>
                <td>{{tertrabaja.auxilioTransporte}}</td>
                <td>{{tertrabaja.cesantias}}</td>
                <td>{{tertrabaja.interesCesantia}}</td>
                <td>{{tertrabaja.prima}}</td>
                <td>{{tertrabaja.vacaiones}}</td>
                <td>{{tertrabaja.liquidacion}}</td>
            </tr>
        </tbody>
    </table>
</div>-->